fastapi # kullanacağımız framework
pydantic # veri doğrulama ve basitleştirme
email-validator # email doğrulaması için gerekli
bcrypt # parola şifreleme gibi güvenlik işlemleri
cryptography # veri şifreleme vb. güvenlik işlemleri
python-jose # Json Web Token (JWT) için kullanıcaz. JWT ile kimlik doğrulama ve yetkilendirme için lazım.
sqlalchemy # sql veri tabanları için kullanıcaz
uvicorn # kullanacağımız sanal sunucu
passlib # parola yönetimi ve şifreleme
aiofiles # asenkron dosya işlemleri
jinja2 # html şablonlarını bununla backend kısmına bağlıcaz
langchain # NLP işlemleri
python-dotenv # .env dosyasındaki değişkenleri projeye aktarmak için kullanıcaz
google-generativeai # google yapay zeka araçlarına erişicez (gemini)
langchain-google-genai # google yapay zeka araçları ve langchain ile entegrasyonunun sağlayan kütüphane
markdown # markdownları html'e dönüştürücez (özellikle Gemini'den gelen responseları)
bs4 # html ve xml'den veri çekmek
starlette
python-multipart # access tokenlardaki form data request için gerekli
authlib # google ile giriş yap seçeneği ve fastapi OAuth2 ile entegre olduğu için bu kütüphane gerekli
apscheduler # streak ve health_count mantığının otomatik takibi ve kontrolü için gerekli
psycopg2-binary # backend tarafı canlıya alınacağı için PostgreSQL'e geçiş yapılacak